.project {
  margin: var(--margin) 0;
  width: 100%;
}

.project-image {
  width: 100%;
  aspect-ratio: var(--aspect-ratio);
  height: auto;
  display: block;
  object-fit: cover;
}

.project-title {
  font-size: var(--m-size);
  margin-block-start: var(--margin);
}