.post {
    width: var(--col-ratio);
}

.post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-image {
    width: 100%;
    aspect-ratio: var(--aspect-ratio);
    height: auto;
    display: block;
}

.post-title {
    width: fit-content;
}