/* src/components/HydraEditor/HydraEditor.css */

:root .cm-theme {
}

:root .cm-content {
  padding: 4px;
}

:root .cm-editor {
  outline: none;
}

:root .cm-editor .cm-gutters {
  display: none;
}

:root .cm-line {
  max-width: fit-content;
  background: hsla(50,23%,5%,0.6);
}

#hydra-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
