/* src/components/HydraEditor/HydraEditor.css */

:root .cm-theme {
  font-style: normal;
}

:root .cm-content {
  /* padding: 4px; */
}

:root .cm-editor {
  outline: none;
  width: var(--col-ratio);
}

.hydra-editor-container {
  width: 100%;
  max-width: 100%;
}

:root .cm-editor .cm-gutters {
  display: none;
}

:root .cm-line {
  max-width: fit-content;
  background: hsla(50,23%,5%,0.6);
}

:root .cm-tooltip {
  background-color: var(--background-color);
  color: var(--color);
}

/* #hydra-canvas { */
body > canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
