.App-logo {
  height: 40vmin;
  cursor: grab;
  position: absolute;
  touch-action: none;
  user-select: none;
  transform-origin: center center;
  top: 50vh;
  left: 60vw;
}

.App-logo:active {
  cursor: grabbing;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .App-logo {
    top: 70vh;
    left: 50vw;
    height: 30vmin;
  }
}