.App-logo {
  height: 40vmin;
  cursor: grab;
  position: absolute;
  touch-action: none;
  user-select: none;
  transform-origin: center center;
}

.App-logo:active {
  cursor: grabbing;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}