.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: start;
    top: 0;
    width: calc(100% - var(--margin) * 4);
    margin-block: var(--margin);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    margin-inline: .5em;
}

.logo {
    font-size: var(--m-size);
    font-style: italic;
    line-height: 1.25em;
}

nav.navbar + * {
    mask-image: linear-gradient(to bottom, transparent var(--start), black var(--end));
}