/* src/index.css */

:root {
  --margin: 1rem;
  --m-size: 1.25em;
  --aspect-ratio: 2.4 / 1;
  --golden-ratio: calc(100% / 1.618);
  --col-ratio: var(--golden-ratio);
  --start: 0em;
  --end: 0em;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'OpenDyslexic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;
  letter-spacing: -.05em;
}

#root {
  position: relative;
  /* overflow-x: hidden; */
  overflow: hidden;
}

h1, h2 {
  letter-spacing: -.05em;
  line-height: 1.25em;
}

a {
  color: white;
}

p,
span {
  line-height: 1.25em;
}

.highlight {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-style: normal;
  white-space: pre-wrap;
  word-break: break-all;
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  :root {
    --col-ratio: 100%;
    --aspect-ratio: 1 / 1;
  }
}