/* src/index.css */

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Italic.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public/fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
       url('../public/fonts/OpenDyslexic-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'OpenDyslexic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --margin: 1rem;
  --m-size: 1.25em;
  font-style: italic;
  letter-spacing: -.05em;
  line-height: 1.25em;
}

a {
  color: white;
}

.highlight {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}